.nav {
    height: auto;
    margin-bottom: 20px;
  }

  
  .logo > h1 > img {
    height: 85px;
    padding-right: 5px;
  }
  
h1 {
    color: white;
    font-family: 'Poetsen';
    margin-left: 0;
  }


  .buttons {
      margin: auto;
  }

  .btn {
      width: 100px;
      margin-left: 10px;
      margin-right: 10px;
      
  }

  @media (min-width:768px) {
    .mrButton {
      float: right;
    }
    h1 {
      text-align: left;
    }
  }
  @media (max-width:945px) {
    h1 {
      font-size: 2rem;
    }
  }
  @media (max-width:830px) {
    h1 {
      font-size: 1.7rem;
    }
  }
 