<div class="row text-center">
  <div class="col-md-12">
    <div class="btn-group">
      <button
        class="mrButton"
        mwlCalendarPreviousView
        (click)="getMoodsForOneMonth()"
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Back
      </button>

      <h3 class="dateLabel">{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
      <button
        class="mrButton"
        mwlCalendarNextView
        (click)="getMoodsForOneMonth()"
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </button>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view"
*ngIf = "eventsLoaded | async">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent($event.event)"
  >
  </mwl-calendar-month-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<!-- <br /><br /><br />

<h3>
  Edit events
  <button class="btn btn-primary float-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->



<ng-template #modalContent let-modal let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData?.mood }} Mood</h5>
    <button type="button" class="close" (click)="editToFalse()"(click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!editMood">
    <div>
      <h5>{{ modalData?.title }}</h5>
    </div>
    <div *ngIf="modalData?.details">
      <p>{{ modalData?.details }}</p>
    </div>
  </div>
  <div class="modal-body" *ngIf="editMood" >
    <div class="row">
      <div class="col-lg-6 col-12 mood-field">
          <div class="row">
              <h1 class="col-12">Mood</h1>
              <div class="col-4">
                  <h4>Good</h4>
                  <input type="radio" name="mood" [value]="1" [(ngModel)]="editedObj.mood">
              </div>
  
              <div class="col-4">
                  <h4>Neutral</h4>
                  <input type="radio" name="mood" [value]="0" [(ngModel)]="editedObj.mood">
              </div>
  
              <div class="col-4">
                  <h4>Bad</h4>
                  <input type="radio" name="mood" [value]="-1" [(ngModel)]="editedObj.mood">
              </div>  
          </div>
  
      </div>
    </div>
    <div class="row" *ngIf="hasChanges">
      <div class="col-lg-6 col-12 mood-field">
          <div class="row">
              <h1 class="col-12">Type of change</h1>
              <div class="col-4">
                  <h4>Diet</h4>
                  <input 
                  type="radio" 
                  name="changeType"
                  [value]="1"
                  [(ngModel)]="editedObj.makeChanges">
              </div>
  
              <div class="col-4">
                  <h4>Routine</h4>
                  <input 
                  type="radio" 
                  name="changeType"
                  [value]="2"
                  [(ngModel)]="editedObj.makeChanges">
              </div>
  
              <div class="col-4">
                  <h4>Exercise</h4>
                  <input 
                  type="radio" 
                  name="changeType"
                  [value]="3"
                  [(ngModel)]="editedObj.makeChanges">
              </div>
              <div class="col-4">
                  <h4>Sleep</h4>
                  <input 
                  type="radio" 
                  name="changeType"
                  [value]="4"
                  [(ngModel)]="editedObj.makeChanges">
              </div>
  
              <div class="col-4">
                  <h4>Hygiene</h4>
                  <input 
                  type="radio" 
                  name="changeType"
                  [value]="5"
                  [(ngModel)]="editedObj.makeChanges">
              </div>
  
              <div class="col-4">
                  <h4>Social</h4>
                  <input 
                  type="radio" 
                  name="changeType"
                  [value]="6"
                  [(ngModel)]="editedObj.makeChanges">
              </div> 
  
              <div class="col-4">
                  <h4>Other</h4>
                  <input 
                  type="radio" 
                  name="changeType"
                  [value]="7"
                  [(ngModel)]="editedObj.makeChanges">
              </div> 
          </div>
  
      </div>
  
      <div class="col-lg-6 col-12 mood-field">
          <div class="row">
              <h1 class="col-12">Extra details</h1>
              <div class="col-12">
                  <textarea 
                  class="changeDetails"  
                  [(ngModel)]="editedObj.details"></textarea>
              </div>
          </div>
  
      </div>
  </div>

  


  </div>
  
  <div class="modal-footer" *ngIf="!editMood">
    <button type="button" class="btn btn-danger" (click)="delete()">
      Delete
    </button>
    <button type="button" class="btn btn-outline-warning" (click)="editChangeOrMood()">
      Edit
    </button>
  </div>
  <div class="modal-footer" *ngIf="editMood">
    <button type="button" class="btn btn-outline-warning" (click)="saveEdit()">
      Save
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="editToFalse()">
      Cancel
    </button>
  </div>
  
</ng-template>
