
.dateLabel {
    // margin: 0 0 10px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    width: 210px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  .table-responsive {
    background-color: white;
  }
  .btn {
    width: 80px;
    height: 40px;
  }
  h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.mood-field {
  height: 180px;
}
.gradient {
  opacity: 50%;
}
.changeDetails {
  width: 100%;
  height: 140px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  vertical-align: top;
}

  @media (max-width: 520px) {
    h3 {
    width: auto;
    margin: 0;
    height: 50px;
    margin: auto;
    margin-top: 0;
  }
  .btn-group {
    height: 90px;
    width: 100%;
  }
  .next-btn {
    bottom: 0;
    position: absolute;
    right: 0;
  }
  .back-btn {
    bottom: 0;
    position: absolute;
    left: 0;
  }
  }
