<div class="row">
    <div class="col-lg-6 col-12 mood-field">
        <div class="row">
            <h1 class="col-12">What is your mood?</h1>
            <div class="col-4">
                <h4>Good</h4>
                <input type="radio" name="mood" value='2' [(ngModel)]="mood">
            </div>

            <div class="col-4">
                <h4>Neutral</h4>
                <input type="radio" name="mood" value='1' [(ngModel)]="mood">
            </div>

            <div class="col-4">
                <h4>Bad</h4>
                <input type="radio" name="mood" value='0' [(ngModel)]="mood">
            </div>  
        </div>

    </div>

    <div class="col-lg-6 col-12 mood-field">
        <div class="row">
            <h1 class="col-12">Did you make any changes?</h1>
            <div class="col-6">
                <h4>yes</h4>
                <input 
                type="radio" 
                name="change"
                [value]="true" 
                [(ngModel)]="moodFormData.changes">
            </div>

            <div class="col-6">
                <h4>No</h4>
                <input 
                type="radio" 
                name="change"
                [value]="false" 
                [(ngModel)]="moodFormData.changes">
            </div> 
        </div>

    </div>
</div>




<div class="row" [class.gradient]="!moodFormData.changes">
    <div class="col-lg-6 col-12 mood-field">
        <div class="row">
            <h1 class="col-12">Type of change</h1>
            <div class="col-4">
                <h4>Diet</h4>
                <input 
                type="radio" 
                name="changeType"
                value="0"
                [(ngModel)]="makeChanges"
                [disabled]="!moodFormData.changes">
            </div>

            <div class="col-4">
                <h4>Routine</h4>
                <input 
                type="radio" 
                name="changeType"
                value="1"
                [(ngModel)]="makeChanges"
                [disabled]="!moodFormData.changes">
            </div>

            <div class="col-4">
                <h4>Exercise</h4>
                <input 
                type="radio" 
                name="changeType"
                value="2"
                [(ngModel)]="makeChanges"
                [disabled]="!moodFormData.changes">
            </div>
            <div class="col-4">
                <h4>Sleep</h4>
                <input 
                type="radio" 
                name="changeType"
                value="3"
                [(ngModel)]="makeChanges"
                [disabled]="!moodFormData.changes">
            </div>

            <div class="col-4">
                <h4>Hygiene</h4>
                <input 
                type="radio" 
                name="changeType"
                value="4"
                [(ngModel)]="makeChanges"
                [disabled]="!moodFormData.changes">
            </div>

            <div class="col-4">
                <h4>Social</h4>
                <input 
                type="radio" 
                name="changeType"
                value="5"
                [(ngModel)]="makeChanges"
                [disabled]="!moodFormData.changes">
            </div> 

            <div class="col-4">
                <h4>Other</h4>
                <input 
                type="radio" 
                name="changeType"
                value="6"
                [(ngModel)]="makeChanges"
                [disabled]="!moodFormData.changes">
            </div> 
        </div>

    </div>

    <div class="col-lg-6 col-12 mood-field">
        <div class="row">
            <h1 class="col-12">Extra details</h1>
            <div class="col-12">
                <textarea 
                class="changeDetails" 
                [disabled]="!moodFormData.changes" 
                [(ngModel)]="moodFormData.details"></textarea>
            </div>
        </div>

    </div>
</div>

<button type="submit" class="submitBtn" (click)="handleMoodForm()">Submit</button>