<div class='logincontainer'>
    <ng-template let-modal>
        <div class='modalheader'>
            Passwords must match
        </div>
    </ng-template>

        <img class="logo" src="../../../assets/images/Logo.png">
        <h1>Welcome to Mood Ringer</h1>
        <h3>Please Login or Create Account</h3>
        <div class="row">
            <form *ngIf="createAccount" [formGroup]="loginForm" (ngSubmit)="signUpSubmit()">
                <div class="col-sm-12">
                    <input class="input-field" type="text" id="username" formControlName="username" placeholder="Username">
                </div>
                <div class="col-sm-12">
                    <input class="input-field" type="text" id="password" formControlName="password" placeholder="Password">
                </div>
                <div class="col-sm-12" *ngIf="createAccount">
                    <input class="input-field" type="text" id="password" formControlName="confirmPass" placeholder="Confirm Password">
                </div>


                <div class="col-sm-12">
                    <button class="loginBtn">Create</button>
                </div>
                <div class="createAccount">
                    <p (click)="toggleCreate()">Already Have Account</p>
                </div>
            </form>

            <form *ngIf="createAccount === false" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                <div class="col-sm-12">
                    <input class="input-field" type="text" id="username" formControlName="username" placeholder="Username">
                </div>
                <div class="col-sm-12">
                    <input class="input-field" type="text" id="password" formControlName="password" placeholder="Password">
                </div>


                <div class="col-sm-12">
                    <button class="loginBtn" type="submit">Login</button>
                </div>
                <div class="createAccount col-sm-12">
                    <p (click)="toggleCreate()">Create Account</p>
                </div>
            </form>
        </div>
</div>