<div class='logincontainer'>
        <img class="logo" src="../../../assets/images/Logo.png">
        <h1>Welcome to Mood Ringer</h1>
        <h3>Please Login or Create Account</h3>
        <div class="row">
            <form *ngIf="createAccount" (ngSubmit)="signUpSubmit()">
                <div class="col-sm-12">
                    <input class="input-field"  name="name" [(ngModel)]='newUser.name' placeholder="Full Name">
                </div>
                <div class="col-sm-12">
                    <input class="input-field"  name="username" [(ngModel)]='newUser.username' placeholder="Username">
                </div>
                <div class="col-sm-12">
                    <input class="input-field"  name="email" [(ngModel)]='newUser.email' placeholder="Email">
                </div>
                <div class="col-sm-12">
                    <input class="input-field"  name="password" [(ngModel)]='newUser.password'  placeholder="Password">
                </div>
                <div class="col-sm-12">
                    <input class="input-field" name="confirmPassword" [(ngModel)]='confirmpassword'  placeholder="Confirm Password"><br>
                    <p style="color: red;" *ngIf="matchPassword">Passwords must match</p><br>
                    <p style="color: red;" *ngIf="emptyfield">All fields are required</p><br>
                </div>


                <div class="col-sm-12">
                    <button class="loginBtn" type="submit">Create</button>
                </div>
                <div class="createAccount">
                    <p (click)="toggleCreate()">Already Have Account</p>
                </div>
            </form>

            <form *ngIf="createAccount === false" (ngSubmit)="loginSubmit()">
                <div class="col-sm-12">
                    <input class="input-field" name="username" [(ngModel)]='user.username' placeholder="Username">
                </div>
                <div class="col-sm-12">
                    <input class="input-field" name="password" [(ngModel)]='user.password' placeholder="Password">
                </div>


                <div class="col-sm-12">
                    <button class="loginBtn" type="submit">Login</button>
                </div>
                <div class="createAccount col-sm-12">
                    <p (click)="toggleCreate()">Create Account</p>
                </div>
            </form>
        </div>
</div>