<div class="logincontainer">
  <img class="logo" src="../../../assets/images/Logo.png" />
  <h1>Welcome to Mood Ringer</h1>
  <h3>Please Login or Create Account</h3>
  <div class="row">
    <div>
        <div class="col-sm-12">
          <input
        [@inOutAnimation]
        class="input-field"
        name="username"
        placeholder="Username"
        [(ngModel)]="userFormData.username"
      />  
        </div>
        <div class="col-sm-12">
          <input
        [@inOutAnimation]
        class="input-field"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="userFormData.password"
      />  
        </div>
        <div class="col-sm-12">
           <input
        *ngIf="createAccount"
        [@inOutAnimation]
        class="input-field"
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        [(ngModel)]="userFormData.confirmPassword"
      />  
        </div>
        <div class="col-sm-12">
            <input
        *ngIf="createAccount"
        [@inOutAnimation]
        class="input-field"
        name="username"
        placeholder="Full Name"
        [(ngModel)]="userFormData.name"
      />
        </div>
        <div class="col-sm-12">
          <input
        *ngIf="createAccount"
        [@inOutAnimation]
        class="input-field"
        name="email"
        placeholder="Email"
        [(ngModel)]="userFormData.email"
      />  
        </div>
      
    </div>
    <div class="col-sm-12" [@inOutAnimation]>
      <button class="loginBtn" type="submit" (click)="handleForm()">
        {{ createAccount ? "Create" : "Login" }}
      </button>
    </div>
    <div class="formToggleText">
      <p (click)="toggleCreate()">
        {{ createAccount ? "Back to Login" : "Create New Account" }}
      </p>
    </div>
    <!-- <form #authForm="ngForm" (ngSubmit)="submitForm()">
      <div class="col-sm-12">
        <input
          class="input-field"
          name="username"
          [(ngModel)]="userForm.username"
          placeholder="Username"
        />
      </div>

      <div class="col-sm-12">
        <input
          class="input-field"
          name="password"
          [(ngModel)]="userForm.password"
          placeholder="Password"
        />
      </div>
      <div class="col-sm-12" *ngIf="createAccount">
        <input
          class="input-field"
          name="confirmPassword"
          [(ngModel)]="userForm.confirmPassword"
          placeholder="Confirm Password"
        />
        <p style="color: red" *ngIf="matchPassword">Passwords must match</p>
        <p style="color: red" *ngIf="emptyfield">All fields are required</p>
      </div>

      <div class="col-sm-12" *ngIf="createAccount">
        <input
          class="input-field"
          name="name"
          [(ngModel)]="userForm.fullName"
          placeholder="Full Name"
        />
      </div>

      <div class="col-sm-12" *ngIf="createAccount">
        <input
          class="input-field"
          name="email"
          [(ngModel)]="userForm.email"
          placeholder="Email"
        />
      </div>

      <div class="col-sm-12">
        <button class="loginBtn" type="submit">
          {{ createAccount ? "Create" : "Login" }}
        </button>
      </div>
      <div class="createAccount">
        <p (click)="toggleCreate()">
          {{ createAccount ? "Back to Login" : "Create New Account" }}
        </p>
      </div>
    </form> -->
  </div>
</div>
