<div class="moodInfoContainer">
    <div class="moodOverDays" *ngIf="recent">
        <div class="row">
            <img *ngIf="good" class="emoteImg col-3" src="../../../assets/images/smile-good.png">
            <img *ngIf="neutral" class="emoteImg col-3" src="../../../assets/images/neutral-face.png">
            <img *ngIf="bad" class="emoteImg col-3" src="../../../assets/images/frown-sad.png">  
        </div>
        <div class="row">
            <p class="emotecaption">Your mood has been mostly {{ mood }} in the past week</p>
        </div> 
    </div>
    <div class="moodOverDays" *ngIf="!recent">
        <p class="emotecaption">Oops, looks like you have no moods this month!</p>
        <div class="col-sm-12">
            <button class="mrButton" routerLink="/dailymood">click here to make one</button>
        </div>
    </div>
    
</div>

