

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-12" style="align-content: center;">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/daily-mood-logo.png">
            </div>
            

            <div class="col-9">
                <div class="row">
                    <h1 class="col-sm-12">Daily Mood</h1>
                    <p class="col-sm-12">
                        Here you can fill out your daily mood form which allows you to track how changes affect your mood
                    </p>
                    <div class="col-sm-12">
                        <button class="homeBtn" routerLink="/dailymood">Daily Mood</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  

    <div class="col-lg-6 col-md-12">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/Calendar-logo.png">
            </div>

            <div class="col-9">
                <div class="row">
                <h1 class="col-sm-12">Calendar</h1>
                <p class="col-sm-12">
                    This allows you to view your past moods and changes amd where you can delete or edit those moods
                </p>
                <div class="col-sm-12">
                    <button class="homeBtn" routerLink="/calendar">Calendar</button>
                </div>
                
                </div>
            </div>
        </div>
    </div>  
</div>


<div class="row justify-content-center">
    <div class="col-lg-6 col-md-12" style="align-content: center;">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/mood-info-icon.png">
            </div>
            

            <div class="col-9">
                <div class="row">
                    <h1 class="col-sm-12">Mood Info</h1>
                    <p class="col-sm-12">
                        This is where you can view all of your recent changes, whether they are active or not. Here you can also 
                        deactivate or reactivate your changes
                    </p>
                    <div class="col-sm-12">
                        <!-- <button class="homeBtn" routerLink="/moodinfo">Mood Info</button> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  

    <div class="col-lg-6 col-md-12">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/change-list-icon.png">
            </div>

            <div class="col-9">
                <div class="row">
                <h1 class="col-sm-12">Change List</h1>
                <p class="col-sm-12">
                    This is where you can view what changes you made and how may of them in the past year
                </p>
                <div class="col-sm-12">
                    <button class="homeBtn" routerLink="/changelist">Change List</button>
                </div>
                
                </div>
            </div>
        </div>
    </div>  
</div>