<!-- 
<p style="width: 400px; overflow-wrap: break-word;">{{userToken}}</p> -->

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-12" style="align-content: center;">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/daily-mood-logo.png">
            </div>
            

            <div class="col-9">
                <div class="row">
                    <h1 class="col-sm-12">Daily Mood</h1>
                    <p class="col-sm-12">
                        This is where you can fill out your daily mood form which allows you to track how changes affect your mood and how and 
                        allows you to track your overall mood
                    </p>
                    <div class="col-sm-12">
                        <button class="homeBtn" routerLink="/dailymood">Daily Mood</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  

    <div class="col-lg-6 col-md-12">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/Calendar-logo.png">
            </div>

            <div class="col-9">
                <div class="row">
                <h1 class="col-sm-12">Calendar View</h1>
                <p class="col-sm-12">
                    This allows you to view you past moods and changes that you have made as well as seeing if there are any 
                    consistencies due to changes
                </p>
                <div class="col-sm-12">
                    <button class="homeBtn" routerLink="/calendar">Calendar View</button>
                </div>
                
                </div>
            </div>
        </div>
    </div>  
</div>


<div class="row justify-content-center">
    <div class="col-lg-6 col-md-12" style="align-content: center;">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/mood-info-icon.png">
            </div>
            

            <div class="col-9">
                <div class="row">
                    <h1 class="col-sm-12">Mood Info</h1>
                    <p class="col-sm-12">
                        This is where you can view all of your recent changes, whether they are active or not. Here you can also 
                        deactivate or reactivate your changes
                    </p>
                    <div class="col-sm-12">
                        <button class="homeBtn">Mood Info</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  

    <div class="col-lg-6 col-md-12">
        <div class="homeItem row">
            <div class="col-3">
                <img class="icon" src="../../../assets/images/change-list-icon.png">
            </div>

            <div class="col-9">
                <div class="row">
                <h1 class="col-sm-12">Change List</h1>
                <p class="col-sm-12">
                    This is where you can view all of your recent changes, whether they are active or not. Here you can also 
                    deactivate or reactivate your changes
                </p>
                <div class="col-sm-12">
                    <button class="homeBtn">Change List</button>
                </div>
                
                </div>
            </div>
        </div>
    </div>  
</div>