/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Poetsen;
  src: url("assets/fonts/PoetsenOne-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

body {
  text-align: center;
  background-image: url(assets/images/mountain-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.contentArea {
  border-radius: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 80%;
  padding: 16px;
  padding-bottom: 25px;
  margin: 16px;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 700px) {
  // .row {
  //   flex-direction: column;
  // }

  .contentArea {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 0px;
    padding-bottom: 15px;
    margin: 0px;
    width: 100%;
    min-width: 420px;
    border-radius: 0px;
    border: 0;
    min-height: 100vh;
  }
}

// Mood Ringer Custom CSS Library
.mrButton {
  background: #ffffff;
  border: 0.5px solid #000000;
  border-radius: 11px;
  padding: 6px 16px;
  margin: 0 12px;
}

.mrButton:hover {
  background: #ff6f6f;
}
